.container {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas:
    "sidebar header header"
    "sidebar content-1 content-1"
    "sidebar content-2 content-2";
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.text-14 {
  font-size: 14px;
}

.text-24 {
  font-size: 24px;
}

/* OTHER STYLES */

body {
  background-color: #3b404e;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.item {
  background-color: #1eaafc;
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: top;
  font-weight: bold;
}

.header {
  background-color: #1eaafc;
  background-image: linear-gradient(160deg, #6c52d9 0%, #9b8ae6 127%);
}

.sidebar {
  background-image: linear-gradient(203deg, #3edfd7 0%, #29a49d 90%);
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6,
.content-7 {
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
}
