.NavigationChapters__xxs--VZGjF {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 0.83rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}
html.content-zh_cn .NavigationChapters__xxs--VZGjF {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__xxs--VZGjF,
html.content-iw_il .NavigationChapters__xxs--VZGjF {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__xxs--VZGjF {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__xxs--VZGjF {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__xxs--VZGjF {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__xxs--VZGjF {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__xxs--VZGjF {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__xxs--VZGjF,
  html.content-iw_il .NavigationChapters__xxs--VZGjF {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__xxs--VZGjF {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__xxs--VZGjF {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__xxs--VZGjF {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__xxs--VZGjF {
    font-size: 0.77rem;
  }
}
html.content-ar_sa .NavigationChapters__xxs--VZGjF,
html.content-iw_il .NavigationChapters__xxs--VZGjF,
html.content-ja_jp .NavigationChapters__xxs--VZGjF,
html.content-ko_kr .NavigationChapters__xxs--VZGjF,
html.content-zh_cn .NavigationChapters__xxs--VZGjF,
html.content-zh_tw .NavigationChapters__xxs--VZGjF {
  font-size: 0.83rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__xxs--VZGjF,
  html.content-iw_il .NavigationChapters__xxs--VZGjF,
  html.content-ja_jp .NavigationChapters__xxs--VZGjF,
  html.content-ko_kr .NavigationChapters__xxs--VZGjF,
  html.content-zh_cn .NavigationChapters__xxs--VZGjF,
  html.content-zh_tw .NavigationChapters__xxs--VZGjF {
    font-size: 0.77rem;
  }
}
.NavigationChapters__xs--eQeeH {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
}
html.content-zh_cn .NavigationChapters__xs--eQeeH {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__xs--eQeeH,
html.content-iw_il .NavigationChapters__xs--eQeeH {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__xs--eQeeH {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__xs--eQeeH {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__xs--eQeeH {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__xs--eQeeH {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__xs--eQeeH {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__xs--eQeeH,
  html.content-iw_il .NavigationChapters__xs--eQeeH {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__xs--eQeeH {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__xs--eQeeH {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__xs--eQeeH {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__xs--eQeeH {
    font-size: 1rem;
  }
}
html.content-ar_sa .NavigationChapters__xs--eQeeH,
html.content-iw_il .NavigationChapters__xs--eQeeH,
html.content-ja_jp .NavigationChapters__xs--eQeeH,
html.content-ko_kr .NavigationChapters__xs--eQeeH,
html.content-zh_cn .NavigationChapters__xs--eQeeH,
html.content-zh_tw .NavigationChapters__xs--eQeeH {
  font-size: 1rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__xs--eQeeH,
  html.content-iw_il .NavigationChapters__xs--eQeeH,
  html.content-ja_jp .NavigationChapters__xs--eQeeH,
  html.content-ko_kr .NavigationChapters__xs--eQeeH,
  html.content-zh_cn .NavigationChapters__xs--eQeeH,
  html.content-zh_tw .NavigationChapters__xs--eQeeH {
    font-size: 1rem;
  }
}
.NavigationChapters__s--N2zt2 {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
}
html.content-zh_cn .NavigationChapters__s--N2zt2 {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__s--N2zt2,
html.content-iw_il .NavigationChapters__s--N2zt2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__s--N2zt2 {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__s--N2zt2 {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__s--N2zt2 {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__s--N2zt2 {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__s--N2zt2 {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__s--N2zt2,
  html.content-iw_il .NavigationChapters__s--N2zt2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__s--N2zt2 {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__s--N2zt2 {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__s--N2zt2 {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__s--N2zt2 {
    font-size: 19px;
  }
}
html.content-ar_sa .NavigationChapters__s--N2zt2,
html.content-iw_il .NavigationChapters__s--N2zt2,
html.content-ja_jp .NavigationChapters__s--N2zt2,
html.content-ko_kr .NavigationChapters__s--N2zt2,
html.content-zh_cn .NavigationChapters__s--N2zt2,
html.content-zh_tw .NavigationChapters__s--N2zt2 {
  font-size: 1.2rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__s--N2zt2,
  html.content-iw_il .NavigationChapters__s--N2zt2,
  html.content-ja_jp .NavigationChapters__s--N2zt2,
  html.content-ko_kr .NavigationChapters__s--N2zt2,
  html.content-zh_cn .NavigationChapters__s--N2zt2,
  html.content-zh_tw .NavigationChapters__s--N2zt2 {
    font-size: 1.3rem;
  }
}
.NavigationChapters__m--E6Lnu {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
}
html.content-zh_cn .NavigationChapters__m--E6Lnu {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__m--E6Lnu,
html.content-iw_il .NavigationChapters__m--E6Lnu {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__m--E6Lnu {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__m--E6Lnu {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__m--E6Lnu {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__m--E6Lnu {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__m--E6Lnu {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__m--E6Lnu,
  html.content-iw_il .NavigationChapters__m--E6Lnu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__m--E6Lnu {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__m--E6Lnu {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__m--E6Lnu {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__m--E6Lnu {
    font-size: 25px;
  }
}
html.content-ar_sa .NavigationChapters__m--E6Lnu,
html.content-iw_il .NavigationChapters__m--E6Lnu,
html.content-ja_jp .NavigationChapters__m--E6Lnu,
html.content-ko_kr .NavigationChapters__m--E6Lnu,
html.content-zh_cn .NavigationChapters__m--E6Lnu,
html.content-zh_tw .NavigationChapters__m--E6Lnu {
  font-size: 1.44rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__m--E6Lnu,
  html.content-iw_il .NavigationChapters__m--E6Lnu,
  html.content-ja_jp .NavigationChapters__m--E6Lnu,
  html.content-ko_kr .NavigationChapters__m--E6Lnu,
  html.content-zh_cn .NavigationChapters__m--E6Lnu,
  html.content-zh_tw .NavigationChapters__m--E6Lnu {
    font-size: 1.69rem;
  }
}
.NavigationChapters__l--rcXqW {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
}
html.content-zh_cn .NavigationChapters__l--rcXqW {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__l--rcXqW,
html.content-iw_il .NavigationChapters__l--rcXqW {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__l--rcXqW {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__l--rcXqW {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__l--rcXqW {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__l--rcXqW {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__l--rcXqW {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__l--rcXqW,
  html.content-iw_il .NavigationChapters__l--rcXqW {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__l--rcXqW {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__l--rcXqW {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__l--rcXqW {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__l--rcXqW {
    font-size: 33px;
  }
}
html.content-ar_sa .NavigationChapters__l--rcXqW,
html.content-iw_il .NavigationChapters__l--rcXqW,
html.content-ja_jp .NavigationChapters__l--rcXqW,
html.content-ko_kr .NavigationChapters__l--rcXqW,
html.content-zh_cn .NavigationChapters__l--rcXqW,
html.content-zh_tw .NavigationChapters__l--rcXqW {
  font-size: 1.73rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__l--rcXqW,
  html.content-iw_il .NavigationChapters__l--rcXqW,
  html.content-ja_jp .NavigationChapters__l--rcXqW,
  html.content-ko_kr .NavigationChapters__l--rcXqW,
  html.content-zh_cn .NavigationChapters__l--rcXqW,
  html.content-zh_tw .NavigationChapters__l--rcXqW {
    font-size: 2.2rem;
  }
}
.NavigationChapters__xl--_1oJv {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
}
html.content-zh_cn .NavigationChapters__xl--_1oJv {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__xl--_1oJv,
html.content-iw_il .NavigationChapters__xl--_1oJv {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__xl--_1oJv {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__xl--_1oJv {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__xl--_1oJv {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__xl--_1oJv {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__xl--_1oJv {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__xl--_1oJv,
  html.content-iw_il .NavigationChapters__xl--_1oJv {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__xl--_1oJv {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__xl--_1oJv {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__xl--_1oJv {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__xl--_1oJv {
    font-size: 43px;
  }
}
html.content-ar_sa .NavigationChapters__xl--_1oJv,
html.content-iw_il .NavigationChapters__xl--_1oJv,
html.content-ja_jp .NavigationChapters__xl--_1oJv,
html.content-ko_kr .NavigationChapters__xl--_1oJv,
html.content-zh_cn .NavigationChapters__xl--_1oJv,
html.content-zh_tw .NavigationChapters__xl--_1oJv {
  font-size: 2.07rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__xl--_1oJv,
  html.content-iw_il .NavigationChapters__xl--_1oJv,
  html.content-ja_jp .NavigationChapters__xl--_1oJv,
  html.content-ko_kr .NavigationChapters__xl--_1oJv,
  html.content-zh_cn .NavigationChapters__xl--_1oJv,
  html.content-zh_tw .NavigationChapters__xl--_1oJv {
    font-size: 2.86rem;
  }
}
.NavigationChapters__xxl--uX5QG {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: none;
}
html.content-zh_cn .NavigationChapters__xxl--uX5QG {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa .NavigationChapters__xxl--uX5QG,
html.content-iw_il .NavigationChapters__xxl--uX5QG {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp .NavigationChapters__xxl--uX5QG {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr .NavigationChapters__xxl--uX5QG {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw .NavigationChapters__xxl--uX5QG {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__xxl--uX5QG {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn .NavigationChapters__xxl--uX5QG {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa .NavigationChapters__xxl--uX5QG,
  html.content-iw_il .NavigationChapters__xxl--uX5QG {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp .NavigationChapters__xxl--uX5QG {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr .NavigationChapters__xxl--uX5QG {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw .NavigationChapters__xxl--uX5QG {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__xxl--uX5QG {
    font-size: 57px;
  }
}
html.content-ar_sa .NavigationChapters__xxl--uX5QG,
html.content-iw_il .NavigationChapters__xxl--uX5QG,
html.content-ja_jp .NavigationChapters__xxl--uX5QG,
html.content-ko_kr .NavigationChapters__xxl--uX5QG,
html.content-zh_cn .NavigationChapters__xxl--uX5QG,
html.content-zh_tw .NavigationChapters__xxl--uX5QG {
  font-size: 2.49rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa .NavigationChapters__xxl--uX5QG,
  html.content-iw_il .NavigationChapters__xxl--uX5QG,
  html.content-ja_jp .NavigationChapters__xxl--uX5QG,
  html.content-ko_kr .NavigationChapters__xxl--uX5QG,
  html.content-zh_cn .NavigationChapters__xxl--uX5QG,
  html.content-zh_tw .NavigationChapters__xxl--uX5QG {
    font-size: 3.71rem;
  }
}
.NavigationChapters__xxxl--hshS5 {
  font-size: 2.99rem;
  font-weight: 500;
  line-height: 1;
  text-transform: none;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__xxxl--hshS5 {
    font-size: 4.83rem;
  }
}
.NavigationChapters__xxxxl--oLFrc {
  font-size: 3.58rem;
  font-weight: 500;
  line-height: 1;
  text-transform: none;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__xxxxl--oLFrc {
    font-size: 6.27rem;
  }
}
.NavigationChapters__NavigationChapters--uGKZm {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.3;
}
@media only screen and (min-width: 980px) {
  .NavigationChapters__NavigationChapters--uGKZm {
    flex-direction: row;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__headline--jQleH {
  margin: 0.875rem 0 0.525rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__headline--jQleH {
    -webkit-line-clamp: 2;
    margin-bottom: 0.75rem;
    margin-top: 1.25rem;
  }
}
@media only screen and (min-width: 980px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__headline--jQleH {
    margin: 1.25rem 0;
    max-width: 400px;
    padding: inherit;
    text-align: inherit;
    width: auto;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ:after {
  border-bottom: 1px solid #eaeaea;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0 {
  align-items: center;
  cursor: pointer;
  display: flex;
  max-width: 250px;
  padding: 0 0.525rem 0.875rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0 {
    padding-bottom: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__selectedItem--rqJTg {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: calc(241px - 2.25rem);
  overflow: hidden;
  text-align: center;
}
@media only screen and (min-width: 980px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__selectedItem--rqJTg {
    text-align: left;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-family: SAPBold, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
}
html.content-zh_cn
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-ar_sa
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-iw_il
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ja_jp
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
html.content-ko_kr
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
html.content-zh_tw
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-family: SAPBold, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  html.content-zh_cn
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-ar_sa
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg,
  html.content-iw_il
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ja_jp
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-family: Yu Gothic Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  html.content-ko_kr
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-family: Malgun Gothic, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  html.content-zh_tw
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-size: 1rem;
  }
}
html.content-ar_sa
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-iw_il
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-ja_jp
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-ko_kr
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-zh_cn
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-zh_tw
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-size: 1rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  html.content-ar_sa
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg,
  html.content-iw_il
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg,
  html.content-ja_jp
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg,
  html.content-ko_kr
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg,
  html.content-zh_cn
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg,
  html.content-zh_tw
    .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
    .NavigationChapters__selectedItem--rqJTg {
    font-size: 1rem;
  }
}
html.content-ar_sa.rtl
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg,
html.content-iw_il.rtl
  .NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs
  .NavigationChapters__selectedItem--rqJTg {
  font-weight: 700;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0.NavigationChapters__activeSelectedItem--mKXvs:after {
  border-bottom: 3px solid #f0ab00;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  margin: 0 0 0 0.525rem;
  width: 28px;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__arrow--SMTSV {
    margin-left: 0.75rem;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__arrow--SMTSV
    span {
    transition: none;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV
  span {
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  transition: transform 0.25s ease 0s;
  width: 26px;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV
  span:after,
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV
  span:before {
  background-color: #000;
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV
  span:before {
  left: -10px;
  top: 3px;
  transform: rotate(30deg);
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV
  span:after {
  right: -10px;
  top: 3px;
  transform: rotate(328deg);
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__arrow--SMTSV
    span {
    width: 24px;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV.NavigationChapters__up--TAV3E
  span {
  transform: scaleY(-1);
  transform-box: fill-box;
  transform-origin: center;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0 {
    max-width: 400px;
  }
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__selectedItem--rqJTg {
    max-width: calc(376px - 2.25rem);
  }
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__arrow--SMTSV,
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__arrow--SMTSV
    span {
    width: 24px;
  }
}
@media only screen and (min-width: 980px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0 {
    padding: 1.25rem 0.75rem;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo {
    transition: none;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo {
  box-shadow: 0 0 20px 5px #c6c6c680;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  left: 0;
  line-height: 1.5;
  max-height: 300px;
  opacity: 0;
  padding: 0.35rem 0;
  position: absolute;
  transition: opacity 0.25s ease 0s;
  width: calc(100% - 56px);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo:before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo.NavigationChapters__hasScrollbar--utba_
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbarContent--sblU9
  a {
  padding-right: 22px;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo.NavigationChapters__hasScrollbar--utba_
    .NavigationChapters__scrollbarWrapper--TYNqY
    .NavigationChapters__scrollbarContent--sblU9
    a {
    padding-right: 28px;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: #0000 #0000;
  scrollbar-width: none;
  width: 100%;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY::-webkit-scrollbar,
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY::-webkit-scrollbar-thumb,
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY::-webkit-scrollbar-track {
  display: none;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbarContent--sblU9 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbarContent--sblU9
  .NavigationChapters__selectedItem--rqJTg {
  font-family: SAPRegular, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbar--tZfnV {
  background-color: #0000001a;
  border-radius: 4px;
  cursor: pointer;
  height: calc(100% - 16px);
  overflow: hidden;
  position: absolute;
  right: 0.35rem;
  top: 8px;
  width: 8px;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo
    .NavigationChapters__scrollbarWrapper--TYNqY
    .NavigationChapters__scrollbar--tZfnV {
    right: 0.5rem;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbar--tZfnV
  .NavigationChapters__thumb--o70ex {
  background-color: #000000b3;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbar--tZfnV:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  right: -0.35rem;
  width: 0.35rem;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo
    .NavigationChapters__scrollbarWrapper--TYNqY
    .NavigationChapters__scrollbar--tZfnV:after {
    right: -0.5rem;
    width: 0.5rem;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo
    .NavigationChapters__scrollbarWrapper--TYNqY:not(
      .NavigationChapters__activeScrollbar--nB7y_
    )
    .NavigationChapters__scrollbar--tZfnV {
    transition: none;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY:not(
    .NavigationChapters__activeScrollbar--nB7y_
  )
  .NavigationChapters__scrollbar--tZfnV {
  opacity: 0;
  transition: 0.25s;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY.NavigationChapters__isScrollbarActive--ryhOz
  .NavigationChapters__scrollbar--tZfnV {
  opacity: 1;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  a {
  color: #3c3c3c;
  padding: 0.525rem 0.875rem;
  position: relative;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo
    a {
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
  }
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  a:focus,
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  a:hover {
  background-color: #eaeaea;
}
.NavigationChapters__NavigationChapters--uGKZm
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__selectedItem--rqJTg {
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo {
    left: auto;
    max-height: 400px;
    width: 400px;
  }
  .NavigationChapters__NavigationChapters--uGKZm
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo.NavigationChapters__small--qSBJf {
    width: 250px;
  }
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC {
  direction: rtl;
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV {
  margin: 0 0.525rem 0 0;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectItem--upId0
    .NavigationChapters__arrow--SMTSV {
    margin-right: 0.75rem;
  }
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectItem--upId0
  .NavigationChapters__arrow--SMTSV
  span {
  left: 10px;
  right: unset;
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectedItem--rqJTg {
  text-align: center;
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__selectedItem--rqJTg
  span {
  text-align: right;
}
@media only screen and (min-width: 980px) {
  .NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__selectedItem--rqJTg {
    text-align: right;
  }
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo.NavigationChapters__hasScrollbar--utba_
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbarContent--sblU9
  a {
  padding-left: 22px;
  padding-right: 14px;
}
@media only screen and (min-width: 768px) {
  .NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
    .NavigationChapters__selectItemWrapper--JnoOZ
    .NavigationChapters__dropList--r7gKo.NavigationChapters__hasScrollbar--utba_
    .NavigationChapters__scrollbarWrapper--TYNqY
    .NavigationChapters__scrollbarContent--sblU9
    a {
    padding-left: 28px;
    padding-right: 20px;
  }
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbarContent--sblU9
  .NavigationChapters__selectedItem--rqJTg {
  text-align: right;
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbar--tZfnV {
  left: 8px;
  right: auto;
}
.NavigationChapters__NavigationChapters--uGKZm.NavigationChapters__rtl--EifdC
  .NavigationChapters__selectItemWrapper--JnoOZ
  .NavigationChapters__dropList--r7gKo
  .NavigationChapters__scrollbarWrapper--TYNqY
  .NavigationChapters__scrollbar--tZfnV:after {
  left: -8px;
  right: auto;
}
